@model IEnumerable<MVCRestaurant.Data.Models.Restaurant>
<!DOCTYPE html>
<html>
<head>
    <title>MVC Restaurant</title>
</head>
<body>
    <h1>Restaurants</h1>
    <p>Total: @Model.Count()</p>
    
    <ul>
        @foreach (var item in Model)
        {
            <li>@item.Name</li>
        }
    </ul>

</body>
</html>

